body {
    background: -webkit-linear-gradient(left, #349c68, blue);
    margin: 0px;
    width: 100%;
}
#header {
    width: 70%;
    height: 500px;
    border: 1px solid aqua;
    font-family: arial;
    color: cadetblue;
    font-weight: bold;
    padding:150px;
    border:20px;
}