body {
    background: white;
    margin: auto;
    width: 100%;
    height: 1100px;
}
#header {
    position: absolute;
    margin: 0px;
    background: -webkit-linear-gradient(left,#349c68,blue);
    width: 100%;
    height: 200px;
    border: 1px solid aqua;
    border-radius: 12px;
}
.logo {
    position: absolute;
    padding-left: 10px;
    padding-top: 60px;
}
#mid {
    position: absolute;
    width: 100%;
    height: 700px;
    top: 220px;
}
.tabla {
    position: absolute;
    width: 332px;
    height: 700px;
    border: 1px solid aqua;
    border-radius: 12px;
}
tbody {
    padding-left: 2px;
}
td {
    position: absolute;
    padding: 1px;
    left: 2px;
}
.recientes_recuadro {
    position: absolute;
    border-radius: 12px;
    font-family: arial;
    color: cadetblue;
    width: 320px;
    height:50px;
    box-shadow: #969696 0px 0px 10px 5px;
}
#recientes {
    position: absolute;
    padding-left: 50px;
}
.fprecuadro {
    position: absolute;
    top: 57px;
    border-radius: 0px;
    width: 320px;
    height: 100px;
    font-family: arial;
    color: cadetblue;
    border-bottom: 1px solid rgba(128, 128, 128, 0.82);
}
.pimage {
    border-radius: 290px;
    width: 60px;
    padding: 15px;
}
#pntext {
    position: absolute;
    left: 100px;
    top: 20px;
}
#pntext_2 {
    position: absolute;
    left: 100px;
    top: 50px;
}
.sprecuadro {
    position: absolute;
    width: 320px;
    top: 168px;
    border-radius: 0px;
    font-family: arial;
    color: cadetblue;
    height: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.82);
}
.tprecuadro {
    position: absolute;
    width: 320px;
    border-radius: 0px;
    height: 100px;
    font-family: arial;
    color: cadetblue;
    top: 275px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.82);
}
.forprecuadro {
    position: absolute;
    top: 385px;
    width: 320px;
    height: 100px;
    border-radius: 0px;
    font-family: arial;
    color: cadetblue;
    border-bottom: 1px solid rgba(128, 128, 128, 0.82);
}
.fivprecuadro {
    
    position: absolute;
    top: 495px;
    border-radius: 0px;
    width: 320px;
    height: 100px;
    font-family: arial;
    color: cadetblue;
    border-bottom: 1px solid rgba(128, 128, 128, 0.82);
}
#recuadromensajes {
    position: absolute;
    width: 70%;
    height: 700px;
    left: 360px;
    top: 220px;
    border-radius: 20px;
    border: 1px solid aqua;
}
#footer {
    position: absolute;
    width: 100%;
    font-family: arial;
    background: -webkit-linear-gradient(right,#349c68,blue);
    color: white;
    top: 1000px;
    height: 200px;
    border-radius: 12px;
    border:1px solid aqua;
    padding-top:30px;
}
a {
    color: #349c68;
}
.recuadroenvio {
    position: absolute;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: -webkit-linear-gradient(left,#349c68,blue);
    top: 640px;
}

.cajaenvio {
    position: absolute;
    left: 40px;
    top: 25px;
    border: 0px;
    width: 450px;
    font-weight: lighter;
    padding-left: 20px;
    color: white;
    border-bottom: 1px solid aqua;
    background: transparent;
    }
.archivoenvio {
    position: absolute;
    left: 590px;
    top: 20px;
    border: 1px solid aqua;
    background: #349c68;
    width: 250px;
    border-radius: 5px;
    color: white;
}

.botonenviar {
    position: absolute;
    left: 526px;
    top: 22px;
    border: 0px;
    border-radius: 2px;
    background: #349c68;
    color: white;
    width: 50px;
    height: 20px;
}
#div_table {

     position: absolute;
    width: 353px;
    height: 702px;
    border-radius: 12px;
    overflow: scroll;
}
.scroll_div {
    position: absolute;
    width: 877px;
    height: 632px;
    left: 5px;
    top: 5px;
    overflow: scroll;
}
.campo_busqueda {

    position: absolute;
    left: 750px;
    top: 100px;
    width: 350px;
    border-bottom: 1px solid aqua;
    background: transparent;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    padding-left: 10px;
    font-family: arial;
    color: white;
}
.boton_buscar {
    position: absolute;
    left: 1123px;
    top: 101px;
    border-radius: 4px;
    border: 0px;
    background: #349c68;
    color: white;
}
a:hover {

	color: cadetblue;
}
.botonenviar:hover {

    background: #133ac7;
}
.your_message {
    
    position: absolute;
    width: 300px;
    height: 100px;
    top: 550px;
    border: 1px solid aqua;
    right: 0px ! important;
    border-radius: 15px;
    background: -webkit-linear-gradient(left,#349c68,blue);
    font-family: arial;
    color: white;
    visibility: hidden;
    bottom: 0px ! important;
}
.text_message {
    position: absolute;
    left: 16px;
    top: 0px;
}
